$black: #000000;
$mediumBlack: #000000c9;
$lightGray: #969696;
$brown: #2B1414;
$deepBrown: #292929;
$creemson: #E7426A;
$blue: #4E9DD3;
$white: #FFFFFF;

$bg: #f7f7f7;
$footerBg: #EBEDEE;
$creemsonBg: #FF4D6D;
$lightCreamsonBg: #F7EBE5;
$blueBg: #8cc4ec;
$lightBlueBg: #D4E9F9;

$tabletXL : 1200px;
$tabletL : 1024px;
$tabletM : 820px;
$mobileL : 768px;
$mobileM : 580px;
$mobileS : 360px;